<section id= "banner-paper"> 


<style type="text/css">  img{
  -webkit-filter: sepia(70%);
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
}</style>


<% @users.each do |u| %>
	<div class= "col-md-6">
	Username: <%= u.username %><br></h1>
	Email: <%= u.email %><br>
	<%= u.about %><br>
	
	<img src="/assets/<%= u.image %>" class="user-image" /img>
	<br>
	
	</div>
<% end %>

</section>
</section>
