
<style type="text/css">#lower {
    width: 90%;
    position: absolute;
    bottom: 0;
}

#jump {
    display: none;
    background-color: #aaaaaa;
    padding: 10px;
}
#BusyBox
{
	background-color: red;
bottom: 0;
/*left: 50%;*/
/*margin-left: -45px;*/
/*padding-top: 20px;*/
position: fixed;
margin-bottom: -70px;
}


</style>

<div class="backfill">
<h1>Hello world!</h1>
<h3>Welcome, user!!!! </h3>

<div class="text-center">

<h5> <span id="yourlocation"></span></h5>


<div>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<br>
<button class="hvr-wobble-vertical"><a  href="/events/new">Add a Historical Event</a></button>

<section id = "showEvents"></section>



<script src="http://maps.googleapis.com/maps/api/js?v=3&amp;libraries=places"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#fullpage').fullpage();
});


function initialize() {
     var map = new google.maps.Map(document.getElementById('map'), {
     zoom: 14,
      center: new google.maps.LatLng(37.790841, -122.42),
      styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#f7ded9"},{"visibility":"on"}]}]
    });

     if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(function (position) {
             initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
             map.setCenter(initialLocation);
             map.setZoom(16);

    var marker = new google.maps.Marker({
    	icon: {url :'/assets/youarehere150.png',
    	height:10},
    	// icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FFBB00',
        position: initialLocation,
        map: map
    });
      var infowindow = new google.maps.InfoWindow({
    content: "You are here"
  });
      marker.addListener('click', function() {
    infowindow.open(map, marker);
  });     

  //api location name
	getLocationName();

function getLocationName(){
	var url = "http://api.geonames.org/findNearbyPlaceName?lat=" + position.coords.latitude + "&lng=" + position.coords.longitude + "&username=jwyk";
	$.ajax({
		url: url,
		method: 'GET',
	}).done(function(object){
		var xml = object;
	 	var loc= $(xml).find("name").text();
	 	$("#yourlocation").append("Your current neighborhood is " + loc);
	});
}
//end of ajax
         });
     }

        loadData();
        //gon.watch renews data in gon variables!
        gon.watch;

function loadData (){
 gon.locations.forEach(function(location){
    var locationLatLong = new google.maps.LatLng(location.lat, location.lng);
    var marker = new google.maps.Marker({
    	icon: {
    		url: '/assets/point60.png'
    	},
        position: locationLatLong,
        map: map

    });

//brings to single location

 //   google.maps.event.addListener(marker, 'click', function() {
      // window.location.href = '/locations/' + location.id;


    google.maps.event.addListener(marker, 'click', function() {
      $('#showEvents').empty();
      $('#showEvents').append('<p>' + e.title + '</p>' + '<p>' + e.content + '</p>').addClass('' + e.location_id + '');


    $('html, body').animate({
        scrollTop: $("#showEvents").offset().top
    }, 2000);


  // $('a[href*=#]:not([href=#])').click(function() {
  //   if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
  //     var target = $(this.hash);
  //     target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
  //     if (target.length) {
  //       $('html,body').animate({
  //         scrollTop: target.offset().top
  //       }, 1000);
  //       return false;
  //     }
  //   }
  // });



               // $("#map").slideUp( 'slow', function(){ 
                            // $('section').text('<p>' + e.title + '</p>' + '<p>' + e.content + '</p>').addClass('' + e.location_id + '');


                  // $("section").text('Slide Up Transition Complete');
               // });

      gon.quickEvents.forEach(function(e){
        if (e.location_id == location.id) {
          // $('#showEvents').slideDown( "slow", function() {
          // Animation complete.

          // When marker clicked, append event content to bottom of page and add class to div for location id

        // });
        } 
      });
    });


  //  });


    });
}
 }

 // // Go to location page when event is clicked on
 // $('#showEvents').on('click', function() {
 //    window.location.href = '/locations/' + $(this).attr('class');
 // });

google.maps.event.addDomListener(window, 'load', initialize);

    // $("#toggle").click(function(){
    //     $("#jump").slideToggle("fast");
    // });

        // var flag = 1;

        // $("#Process").click(function () {
        //     if (flag == 1) {
        //         $('#BusyBox').stop(true).animate({ 'margin-bottom': 0, 'opacity': '1' }, { queue: false, duration: 300 });
        //         flag = 0;
        //     }
        //     else {
        //         $('#BusyBox').stop(true).animate({ 'margin-bottom': -70, 'opacity': '0' }, { queue: false, duration: 300 });
        //         flag = 1;
        //     }

        //     return false;
        // });

    // $("marker").click(function(){
    //     $("section").slideUp();
    // });


</script>