<style type="text/css">
.about, h1{
	font-family: 'Playfair Display', serif;
}
p{
	font-size: 20px;
	color: #444444;
}
li
{
    list-style-type: none;
}
a{color:#999999;}
.hand {margin-right: 10px}</style>

<section id= "banner-paper"> 
<img src="/assets/ihh-logo-black" width="20%"><br><h1>About It Happened Here</h1>
<p>It Happend Here is a mobile focused, community generated web-app to connect people to the history and stories around them. </p><hr>
<img src="/assets/ihh-type.png" width="20%">
<p>Technologies used: <br><br>Ruby on Rails, Git/ Github, PostgreSQL, Google Maps, AJAX, Geonames API, Geolocation, Geocoding, <br>jQuery, Heroku, Responsive design, Error handling forms and more.</p><hr>
<div class="about">
<h1>- Meet the It Happened Here team - </h1>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-5">
<img id="team" src="/assets/ihh-team.jpg" title="Team Photo" width="100%">
</div>
<div class="col-md-4"> <div class="text-left">
<ul>
<li><img src="/assets/ihh-logo-red.png" width="130"></li><hr>
	<li><a href="https://github.com/jenniferkwok" target="_blank"><img class="hand" src="/assets/pointingright.png" width="30">Jennifer Kwok</a></li><br>
	<li><a href="https://github.com/lauraevans99" target="_blank"><img class="hand" src="/assets/pointingright.png" width="30">Laura Evans</a></li><br>
	<li><a href="https://github.com/margauxwithanx" target="_blank"><img class="hand" src="/assets/pointingright.png" width="30">Margaux Luzuriaga</a></li><br>
	<li><a href="https://github.com/TannedAlbino" target="_blank"><img class="hand" src="/assets/pointingright.png" width="30">Uriel Chavez</a></li><br>
	<li><a href="https://github.com/laulaucia" target="_blank"><img class="hand" src="/assets/pointingright.png" width="30">Laura Buitrago</a></li>
</ul>
</div></div>
</div>
</section>