<style>
u2 {
font-family: 'Playfair Display', serif;
text-decoration: none;
}
</style>

<section id= "banner-paper"> 
	<h2>Community guidelines</h2>
	<div class= "container">

	<p2>It Happened Here is a community driven site and we rely on users like to add value to our site. </p2><br>
	<br>

		<u2>It Happened Here is your guide to hidden, unique and historical events in your city. Open It Happened Here on your phone and when you get close to something interesting, a clock icon will inform you of an interesting event, whether in art and culture, about people, science, politics, war or conflict, nature or sports. <br><br>


		It Happened Here can help you learn about local history and if you sign up, you can add your own events listing out your favorite places to shop, eat, and have fun. Get ready to see this world with new eyes! <br><br>


		Thank you for helping us create one of the best communities in the world,<br><br>

		
		The It Happened Here Team
		</u2>

	</div>

</section>