<section id= "banner-paper"> 
<h1>Community guidelines</h1>

<p>It Happened here is a community driven site and we rely on users like to to add value to our site. </p>

>>>>>>> 0754ddc31cee167c5a98a86cb00c8da2a776f4f6
