<html>
<section id= "banner"> 
		
<div class="container">
		
				<h1>It Happened Here</h1>
				<p>LOCATING HISTORICAL EVENTS WITHIN YOUR CITY.
				</p>
				<br>

				<% if !current_user %>
				<div class= "hvr-wobble-vertical"><a href="users/sign_up" class="btn btn-primary">SIGN UP</a></div>
				<div class= "hvr-wobble-vertical"><a href="users/sign_in" <a href="#" class="btn btn-primary">LOG IN</a></div>
				<div class= "hvr-wobble-vertical"><a href="/events" class="btn btn-primary">ENTER SITE</a></div>
				<% end %>
			</div>
	</section>
	</html>