
<div class="jumbotron home home-fullscreen" id="home">
		<div class="mask"></div>
		
<div class="container">
		<div class="header-info">
				<h1>It Happened Here</h1>
				<p>Locating historical events within your city.
				</p>
				<a href="#" class="btn btn-primary">SIGN UP</a>
				<a href="#" class="btn btn-primary">LOG IN</a>
			</div>
			</div>
		</div>