<h1>Meet the It Happened here team</h1>
<ul>
	<li><a href="https://github.com/jenniferkwok">Jennifer Kwok</a></li>
	<li><a href="https://github.com/lauraevans99">Laura Evans</a></li>
	<li><a href="https://github.com/margauxwithanx">Margaux Luzuriaga</a></li>
	<li><a href="https://github.com/TannedAlbino">Uriel Chavez</a></li>
	<li><a href="https://github.com/laulaucia">Laura Buitrago</a></li>
</ul>