
// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-image {
	filter: sepia(100%);
	height: 120px;
	width: auto;
	display: block;
}

.location-image {
	filter: grayscale(70%);
	height: 120px;
	width: auto;
	display: block;
}

#eventform {
	width: 500px;
	border: double 2px red;

}