
// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	margin: 0 auto;
	padding: 40px;
}
.event-image {
	filter: sepia(100%);
	height: 120px;
	width: auto;
	display: block;
}

.location-image {
	filter: grayscale(70%);
	height: 120px;
	width: auto;
	display: block;
}

#showEvents {
	background-color: grey;
}

#showEvents:hover {
	// transform: translateY(-70px);
	// -webkit-animation-timing-function: ease-in-out;
	// animation-duration: 1s;
	}

#eventform {
	width: 500px;
	border: double 2px red;

}