// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-image {
	height: 120px;
	width: auto;
	display: block;
}

.location-image {
	height: 120px;
	width: auto;
	display: block;
}

#showEvents {
	background-color: grey;
}

#showEvents:hover {
	// transform: translateY(-70px);
	// -webkit-animation-timing-function: ease-in-out;
	// animation-duration: 1s;
}