// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	margin: 0 auto;
	padding: 50px;
}
.event-image {
	
	height: 120px;
	width: auto;
	display: block;
}

.location-image {
	
	height: 120px;
	width: auto;
	display: block;
	}