

.well {
	background-color: #3c3b58;
	color: white;
	border-radius: 8px; 
	margin: 10px;
	
}

#map{
	-webkit-filter: grayscale(50%);

}

img{
	-webkit-filter: sepia(70%);
  margin-right: auto;
  margin-left: auto;

}


