

.well {
	background-color: #3c3b58;
	color: white;
	border-radius: 8px; 
	margin: 10px;
}
#yourlocation{
  font-size: 2em;
}
#map{
	-webkit-filter: grayscale(50%);
}

img{
	-webkit-filter: sepia(70%);
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
}


