
body, input{
	/*font-family: 'Montserrat', sans-serif;*/
	font-size: 18px;
	background-color: none;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	padding-bottom: 20px;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	padding-bottom: 20px;

}

h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	padding-bottom: 16px;
	color: #5b5b5b;

}

p{
	font-family: 'Lora', serif;
	color: white;

}

em {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;

}

/*SECTION*/
section{
	background-color: #fff;
	padding: 80px 0;
}

section.darker{
	background-color: #fbfbfb;
}

section header{
	text-align: center;
	margin-bottom: 80px;
}


address{
	margin-bottom: 50px;
}

address span{
	margin-top:0;
	margin-bottom: 25px;
	font-size: 20px;
	display: block;
}

a{
	color: white;
	/*text-transform: uppercase;*/
}

a:hover,
a:focus{
	color: #A9B262;
}

 
 .container {
 	padding-top: 0px;

 }  

.logo{
	background: url('./logo.png');
	position: absolute;
	left: 15px;
	top: 15px;
	width: 385px;
    height: 90px;
}


.fa{ 
	color: #5b5b5b;
}

.fa-close{
	color: #5b5b5b;
}

.menu-toggle{
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 30px;
	color: #fff;
}

.menu{
	width: 300px;
	display: block;
	background: #333;
	height: 100%;
	top: 0;
	right: -300px;
	position: fixed;
	z-index: 100;
	text-align: center;
	transition: right 0.4s;
}

.menu.nav-expanded{
	right: 0;
}

.menu .close{
	color: #fff;
	margin-right: 10px;
	margin-top:10px;
}

.menu h3{
	margin-top:50px;
	text-transform: uppercase;
}

.menu .nav{
	padding: 0;
}

.menu .nav > li > a{
	color: #fff;
}

.menu .nav > li > a:hover,
.menu .nav > li > a:focus{
	background: transparent;
	color: #A9B262;
}

#banner {
    background-attachment: scroll, scroll, scroll, fixed;
    background-image: url('home-bg.jpg');
    background-position: 100%;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: cover;
    width: 100%;
	height: 700px;
    color: white;
    cursor: default;
    padding: 6em 0px;
    text-align: center;
   
 }

 #banner-login {
    background-attachment: scroll, scroll, scroll, fixed;
    background-image: url('login-bg.jpg');
    background-position: 100%;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: cover;
    width: 100%;
	height: 700px;
    color: white;
    cursor: default;
    padding: 6em 0px;
    text-align: center;
 }
 
  #banner-signup {
    background-attachment: scroll, scroll, scroll, fixed;
    background-image: url('signup-bg.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
	height: 700px;
    color: white;
    cursor: default;
    padding: 6em 0px;
    text-align: center;
 }

  #banner-paper {
  	  background: 
    linear-gradient(
      rgba(255,250,237,0.8),
      rgba(255,250,237,0.8)
    ),
    url(/assets/signup-bg.jpg);
  	background-attachment: fixed;
    /*background-attachment: scroll, scroll, scroll, fixed;*/
    /*background-image: url('paper-bg.jpg');*/
    background-position: 100%;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
	height: 1000px;
    /*color: white;*/
    cursor: default;
    padding: 6em 0px;
    text-align: center;
 }

   #banner-password {
    background-attachment: scroll, scroll, scroll, fixed;
    background-image: url('password-bg.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
	height: 700px;
    color: white;
    cursor: default;
    padding: 6em 0px;
    text-align: center;
 }

    #banner-historical {
    background-attachment: scroll, scroll, scroll, fixed;
    background-image: url('historical-bg.jpg');
    background-position: 100%;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
	height: 100%;
    color: white;
    cursor: default;
    padding: 6em 0px;
    text-align: center;
 }


/***
SERVICES
****/
.service-item{
	text-align: center;
}

.service-item .icon{
	border: 1px #b3b3b3 solid;
	margin: 0 auto;
	border-radius: 100%;
	width: 110px;
	height: 110px;
	display: block;
	margin-bottom: 60px;
}

.service-item .icon i{
	line-height: 110px;
	font-size: 45px;	
	color: #A9B262;
}

.service-item .icon:hover{
	background-color: #A9B262;
	border-color: #A9B262;
}

.service-item .icon:hover i{
	color: #fff;
}
.service-item h3{
	margin-bottom: 60px;
}

.service-item .icon .icon-pen{
	background: url('img/icon/pen.png');
}

/****
PORTFOLIO
*****/
.project{
	border: 1px solid #808080;
	margin-bottom: 70px;
}

.project .project-info h3{
	margin-top: 50px;
}

.project .project-info p{
	padding-right: 30px;
	margin:30px 0;
}

.project .project-info .close{
	position: absolute;
	right: 20px;
	top:10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #808080
}

.portfolio-item{
	position: relative;
	margin-bottom: 30px;
}

.portfolio-item .mask{
	position: absolute;
	top:0;
	left: 15px;
	right: 15px;
	height: 100%;
	transition: all 0.4s;
	background: rgba(0,0,0, 0.5);
	opacity: 0;
}

.portfolio-item .mask i{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-25px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	color: #fff;
	background-color: #A9B262;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
}

.portfolio-item:hover .mask{
	opacity: 1;
}

.map-wrapper{
	position: relative;
}

.map-wrapper .marker{
	position: absolute;
	margin-top: -55px;
	margin-left: -130px;
	top: 50%;
	left: 50%;
	width: 260px;
	height: 110px;
	background: #333;
	color: #A9B262;
	border-radius: 5px;
	font-size: 20px;
	line-height: 110px;
	text-align: center;
}

.map-wrapper .marker span:after{
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 15px;
	text-align: center;
	border-top: 12px solid #333;
	border-left: 15px outset transparent;
	border-right: 15px outset transparent;
}

.map-canvas{
	margin-bottom: 70px;
	background: #ddd;
	width: 100%;
	height: 300px;
}



/* FORMS*/
form{
	margin-bottom: 70px;

}

.form-group .btn{
	width: 100%;
	text-transform: uppercase;
}
.form-control{
	padding: 17px 25px;
	font-family: 'Lora', serif;
	font-size: 15px;
	height: auto;
	border-radius: 0;
	background: #f1f4f7;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.5;
	transition: all 0.5s;
	border: 1px solid #fff;
}

.form-control:focus{
	border: 1px solid #454554;
	-webkit-box-shadow: none;
	box-shadow: none;
}


footer{
	padding: 75px 0;
	background-color: #333;
	color: #fff;
}

footer p{
	color: #fff;
}

ul.social-icons{
	list-style: none;
	padding: 0;
}

ul.social-icons > li{
	float: left;
	margin-right: 25px;
}

ul.social-icons > li > a{
	color: #333;
	width: 38px;
	height: 38px;
	line-height: 38px;
	border-radius: 100%;
	background: #fff;
	display: block;
	text-align: center;
}


@media screen and (min-width: 768px){

	.home-page .h1 {
		font-size: 50px;
	}
	.logo {
		width: 380px;
	}
}


/* Button */

.small-btn {
	border-radius: 0;
	background: #A9B262;
	border-width: 3px;
	border-color: #A9B262;

}
.btn{
	padding: 15px 30px;
	border-bottom-color: none;
	margin color: none;
	border-radius: 0;
	background: #A9B262;
	border-width: 3px;
	border-color: #A9B262;
}

.btn:hover,
.btn:focus{
	background: #fff;
	color: #A9B262;
	border-color: #A9B262;
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: none;
  margin color: none;
  padding: 0px 0px;
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: none;
  margin color: none;
  padding: 0px 0px;

}